@model MvcStore.Models.LostPasswordModel

@{
    ViewBag.Title = "LostPassword";
}

<h2>ForgotPassword</h2>

@using (Html.BeginForm("LostPassword", "Account"))
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary()
   @Html.TextBox("Email")
   <input type="submit" value="Search" />
}